<a href="https://colab.research.google.com/github/lansotto/deep-learning-challenge/blob/main/Starter_Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [ ]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(columns=['EIN', 'NAME'], inplace=True)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Get a list of application_type values from value_counts
list_of_application_type_values = application_df['APPLICATION_TYPE'].value_counts().index.tolist()
list_of_application_type_values

['T3',
 'T4',
 'T6',
 'T5',
 'T19',
 'T8',
 'T7',
 'T10',
 'T9',
 'T13',
 'T12',
 'T2',
 'T25',
 'T14',
 'T29',
 'T15',
 'T17']

In [6]:
# Remove first 8 items from list
del list_of_application_type_values[:8]
application_types_to_replace = list_of_application_type_values

In [7]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`


# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df['CLASSIFICATION'].value_counts().loc[lambda x : x>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [10]:
# Get list of classification values from value_counts
list_of_classification_values = application_df['CLASSIFICATION'].value_counts().index.tolist()
list_of_classification_values

['C1000',
 'C2000',
 'C1200',
 'C3000',
 'C2100',
 'C7000',
 'C1700',
 'C4000',
 'C5000',
 'C1270',
 'C2700',
 'C2800',
 'C7100',
 'C1300',
 'C1280',
 'C1230',
 'C1400',
 'C7200',
 'C2300',
 'C1240',
 'C8000',
 'C7120',
 'C1500',
 'C1800',
 'C6000',
 'C1250',
 'C8200',
 'C1238',
 'C1278',
 'C1235',
 'C1237',
 'C7210',
 'C2400',
 'C1720',
 'C4100',
 'C1257',
 'C1600',
 'C1260',
 'C2710',
 'C0',
 'C3200',
 'C1234',
 'C1246',
 'C1267',
 'C1256',
 'C2190',
 'C4200',
 'C2600',
 'C5200',
 'C1370',
 'C1248',
 'C6100',
 'C1820',
 'C1900',
 'C1236',
 'C3700',
 'C2570',
 'C1580',
 'C1245',
 'C2500',
 'C1570',
 'C1283',
 'C2380',
 'C1732',
 'C1728',
 'C2170',
 'C4120',
 'C8210',
 'C2561',
 'C4500',
 'C2150']

In [11]:
# drop items from list_of_classification_values
del list_of_classification_values[:5]
classifications_to_replace = list_of_classification_values
classifications_to_replace

['C7000',
 'C1700',
 'C4000',
 'C5000',
 'C1270',
 'C2700',
 'C2800',
 'C7100',
 'C1300',
 'C1280',
 'C1230',
 'C1400',
 'C7200',
 'C2300',
 'C1240',
 'C8000',
 'C7120',
 'C1500',
 'C1800',
 'C6000',
 'C1250',
 'C8200',
 'C1238',
 'C1278',
 'C1235',
 'C1237',
 'C7210',
 'C2400',
 'C1720',
 'C4100',
 'C1257',
 'C1600',
 'C1260',
 'C2710',
 'C0',
 'C3200',
 'C1234',
 'C1246',
 'C1267',
 'C1256',
 'C2190',
 'C4200',
 'C2600',
 'C5200',
 'C1370',
 'C1248',
 'C6100',
 'C1820',
 'C1900',
 'C1236',
 'C3700',
 'C2570',
 'C1580',
 'C1245',
 'C2500',
 'C1570',
 'C1283',
 'C2380',
 'C1732',
 'C1728',
 'C2170',
 'C4120',
 'C8210',
 'C2561',
 'C4500',
 'C2150']

In [12]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [15]:
# Convert categorical data to numeric with `pd.get_dummies`
categorical_df = pd.get_dummies(application_df[['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE', 'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS']])
categorical_df.head()

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,AFFILIATION_CompanySponsored,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,0,0,0,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,0,0,0,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
3,0,0,0,1,0,0,0,0,0,1,...,0,1,0,0,0,0,0,0,1,0
4,0,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [16]:
# Generate our categorical variable lists
attrition_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()
attrition_cat

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [17]:
# Merge categorical_df  with application_df
df = application_df.merge(categorical_df,left_index = True, right_index=True)
df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1,...,0,0,0,0,0,0,0,0,1,0
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1,...,1,0,0,0,0,0,0,0,1,0
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0,...,0,0,0,0,0,0,0,0,1,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1,...,0,1,0,0,0,0,0,0,1,0
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0,...,0,0,0,0,0,0,0,0,1,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0,...,0,0,0,0,0,0,0,0,1,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0,...,0,0,0,0,0,0,0,0,1,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1,...,0,0,0,0,0,0,0,0,1,0
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0,...,0,0,0,0,1,0,0,0,1,0

In [18]:
# Remove the original columns that have been replaced by numerical data
df_dropped_columns = df.drop(attrition_cat, 1)
df_dropped_columns

<ipython-input-18-24edfb2a080c>:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df_dropped_columns = df.drop(attrition_cat, 1)

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [19]:
column_headers = df_dropped_columns.columns.values.tolist()
print("The Column Header :", column_headers)

The Column Header : ['STATUS', 'ASK_AMT', 'IS_SUCCESSFUL', 'APPLICATION_TYPE_Other', 'APPLICATION_TYPE_T10', 'APPLICATION_TYPE_T19', 'APPLICATION_TYPE_T3', 'APPLICATION_TYPE_T4', 'APPLICATION_TYPE_T5', 'APPLICATION_TYPE_T6', 'APPLICATION_TYPE_T7', 'APPLICATION_TYPE_T8', 'AFFILIATION_CompanySponsored', 'AFFILIATION_Family/Parent', 'AFFILIATION_Independent', 'AFFILIATION_National', 'AFFILIATION_Other', 'AFFILIATION_Regional', 'CLASSIFICATION_C1000', 'CLASSIFICATION_C1200', 'CLASSIFICATION_C2000', 'CLASSIFICATION_C2100', 'CLASSIFICATION_C3000', 'CLASSIFICATION_Other', 'USE_CASE_CommunityServ', 'USE_CASE_Heathcare', 'USE_CASE_Other', 'USE_CASE_Preservation', 'USE_CASE_ProductDev', 'ORGANIZATION_Association', 'ORGANIZATION_Co-operative', 'ORGANIZATION_Corporation', 'ORGANIZATION_Trust', 'INCOME_AMT_0', 'INCOME_AMT_1-9999', 'INCOME_AMT_10000-24999', 'INCOME_AMT_100000-499999', 'INCOME_AMT_10M-50M', 'INCOME_AMT_1M-5M', 'INCOME_AMT_25000-99999', 'INCOME_AMT_50M+', 'INCOME_AMT_5M-10M', 'SPECIAL_CONSIDERATIONS_N', 'SPECIAL_CONSIDERATIONS_Y']

In [21]:
# Split our preprocessed data into our features and target arrays
y = df_dropped_columns['IS_SUCCESSFUL'].values
X = df_dropped_columns.drop(['IS_SUCCESSFUL'],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

<ipython-input-21-803d2553cf22>:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X = df_dropped_columns.drop(['IS_SUCCESSFUL'],1).values

In [22]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [23]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  80
hidden_nodes_layer2 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3520

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 5,981
Trainable params: 5,981
Non-trainable params: 0
_________________________________________________________________

In [24]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [25]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 4s 2ms/step - loss: 0.5719 - accuracy: 0.7166
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5542 - accuracy: 0.7270
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5513 - accuracy: 0.7304
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5502 - accuracy: 0.7332
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5491 - accuracy: 0.7299
Epoch 6/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5485 - accuracy: 0.7338
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5478 - accuracy: 0.7328
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5467 - accuracy: 0.7331
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5463 - accuracy: 0.7344
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5459 - accuracy: 0.7329
Epoch 11/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5450 - accuracy: 0.7347
Epoch 12/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5450 - accuracy: 0.7348
Epoch 13/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5440 - accuracy: 0.7353
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5448 - accuracy: 0.7354
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5439 - accuracy: 0.7337
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5434 - accuracy: 0.7357
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5436 - accuracy: 0.7359
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5424 - accuracy: 0.7362
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5427 - accuracy: 0.7357
Epoch 20/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5423 - accuracy: 0.7364
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5420 - accuracy: 0.7367
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5420 - accuracy: 0.7366
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5418 - accuracy: 0.7383
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5412 - accuracy: 0.7369
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5411 - accuracy: 0.7364
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5410 - accuracy: 0.7377
Epoch 27/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5403 - accuracy: 0.7377
Epoch 28/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5408 - accuracy: 0.7381
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5401 - accuracy: 0.7362
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5404 - accuracy: 0.7367
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5400 - accuracy: 0.7371
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5400 - accuracy: 0.7374
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7381
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5393 - accuracy: 0.7377
Epoch 35/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5396 - accuracy: 0.7368
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5394 - accuracy: 0.7387
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5392 - accuracy: 0.7387
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5391 - accuracy: 0.7374
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5386 - accuracy: 0.7380
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5395 - accuracy: 0.7379
Epoch 41/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5387 - accuracy: 0.7383
Epoch 42/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5390 - accuracy: 0.7387
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5384 - accuracy: 0.7376
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5386 - accuracy: 0.7374
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5388 - accuracy: 0.7385
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5378 - accuracy: 0.7390
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5382 - accuracy: 0.7375
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5379 - accuracy: 0.7383
Epoch 49/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5380 - accuracy: 0.7395
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5378 - accuracy: 0.7396
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5375 - accuracy: 0.7393
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5380 - accuracy: 0.7391
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5378 - accuracy: 0.7390
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5369 - accuracy: 0.7386
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5372 - accuracy: 0.7389
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5374 - accuracy: 0.7388
Epoch 57/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5373 - accuracy: 0.7390
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5369 - accuracy: 0.7386
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5372 - accuracy: 0.7401
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5370 - accuracy: 0.7397
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5367 - accuracy: 0.7396
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5368 - accuracy: 0.7388
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5370 - accuracy: 0.7399
Epoch 64/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5366 - accuracy: 0.7386
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5367 - accuracy: 0.7394
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5363 - accuracy: 0.7395
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7392
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5363 - accuracy: 0.7392
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5365 - accuracy: 0.7396
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5359 - accuracy: 0.7388
Epoch 71/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5362 - accuracy: 0.7395
Epoch 72/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5362 - accuracy: 0.7390
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7383
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7395
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5359 - accuracy: 0.7391
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7384
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5361 - accuracy: 0.7388
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5361 - accuracy: 0.7393
Epoch 79/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5360 - accuracy: 0.7392
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5357 - accuracy: 0.7401
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5357 - accuracy: 0.7392
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7394
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5353 - accuracy: 0.7400
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5356 - accuracy: 0.7405
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5356 - accuracy: 0.7404
Epoch 86/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5355 - accuracy: 0.7398
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5350 - accuracy: 0.7396
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5353 - accuracy: 0.7396
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7396
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5349 - accuracy: 0.7394
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5353 - accuracy: 0.7399
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7398
Epoch 93/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5352 - accuracy: 0.7394
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5349 - accuracy: 0.7403
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5354 - accuracy: 0.7396
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5348 - accuracy: 0.7400
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5345 - accuracy: 0.7397
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5347 - accuracy: 0.7402
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5351 - accuracy: 0.7395
Epoch 100/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5348 - accuracy: 0.7391

In [26]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5578 - accuracy: 0.7282 - 492ms/epoch - 2ms/step
Loss: 0.5577765107154846, Accuracy: 0.7281632423400879

In [27]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")